#headerImg {
    width: 100%;
    height: 50%;
}

.first {
    margin-top: 10px;
    margin-bottom: 16px;
}

.second {
    margin-bottom: 14px;
}

.pb {
    padding-bottom: 24px;
}

.spacer {
    margin-top: 14px;
}

.spacer-middle {
    margin-top: 16px;
}

.spacer-middle-link {
    margin-top: 32px;
}

.space-header {
    margin-left: 12px;
    font-size: 16pt
}

.bold-text {
    font-weight: bold;
}

.card {
    height: 375px !important;
}

.mt-3 {
    margin-top: 14px;
}

.big {
    font-size: 15pt;
}

@media only screen and (min-width: 600px) {
    .imgs {
        position: relative;
        left: 78px;
    }
}

@media only screen and (min-width: 1000px) {
    .imgs {
        position: relative;
        left: 32px;
    }
}