#headerImg {
    width: 100%;
    height: 50%;
}

.big-1 {
    font-size: 32pt;
}

.first {
    margin-top: 10px;
    margin-bottom: 16px;
}

.second {
    margin-bottom: 14px;
}

.pb {
    padding-bottom: 24px;
}

.spacer {
    margin-top: 14px;
}

.spacer-middle {
    margin-top: 16px;
}

.spacer-middle-link {
    margin-top: 32px;
}

.space-header {
    margin-left: 12px;
    font-size: 16pt
}

.bold-text {
    font-weight: bold;
}

.fluid {
    height: 545px;
}

.hourCard {
    height: 375px;
}

.menuCard {
    height: 425px;
}

/* .card{
    height: 435px !important;
} */

.mt-3 {
    margin-top: 14px;
}

.big {
    font-size: 15pt;
}

.fontColor {
    color: #0d47a1
}


/* PHONE SCREENS */
@media only screen and (max-width: 450px) {
    .card-1 {
        height: 475px !important;
    }

    .img {
        margin: 16px;
    }

    .omeletImgs {
        margin-top: 28px;
    }

    .breakfatImgs {
        margin-top: 28px;
    }

    .menuCard {
        height: 475px;
    }

    .burgerCard {
        height: 525px;
    }

    .phillyCard {
        height: 550px;
    }

    .bbqCard {
        height: 615px;
    }

    .chickCard {
        height: 525px;
    }

    .bigChickCard {
        height: 450px;
    }

    .bigSteakCard {
        height: 400px;
    }

    .fishCard {
        height: 600px;
    }

    .sideCard {
        height: 475px;
    }

    .biscuitTitle {
        font-size: 28px;
    }

    .omeletTitle {
        font-size: 28px;
    }

    .plateTitle {
        font-size: 28px;
    }

    .burgerTitle {
        font-size: 28px
    }

    .specburgerTitle {
        font-size: 28px;
    }

    .phillyTitle {
        font-size: 28px;
    }

    .bbqTitle {
        font-size: 28px;
    }

    .titles {
        font-size: 28px;
    }
}

/* IPADS/TABLETS */
@media only screen and (min-width: 600px) {
    .imgs {
        position: relative;
        left: 78px;
    }

    .menuCard {
        height: 550px;
    }

    .burgerCard {
        height: 615px;
    }

    .phillyCard {
        height: 645px;
    }

    .bbqCard {
        height: 680px;
    }

    .chickCard {
        height: 625px;
    }

    .bigChickCard {
        height: 545px;
    }

    .bigSteakCard {
        height: 480px;
    }

    .fishCard {
        height: 755px;
    }

    .sideCard {
        height: 700px;
    }

    .omeletImgs {
        position: relative;
        left: 95px;
        margin-top: 22px;
    }

    .breakfastImgs {
        position: relative;
        left: 95px;
        margin-top: 22px;
    }

    .onionImg {
        margin-top: 22px;
        position: relative;
        left: 16%;
    }

    .chickImg {
        margin-top: 22px;
        position: relative;
        left: 18%;
    }

    .steakpoboyImg {
        margin-top: 22px;
        position: relative;
        left: 18%;
    }

    .jcbImages {
        margin-top: 22px;
        position: relative;
        left: 18%;
    }

    .img {
        margin: 18px;
    }

    .card-1 {
        height: 448px !important;
    }

    .titles {
        font-size: 28px;
    }
}

/* LARGER SCREENS */
@media only screen and (min-width: 1000px) {
    .imgs {
        position: relative;
        left: 32px;
    }

    .omeletImgs {
        position: relative;
        left: 28px;
    }

    .breakfastImgs {
        position: relative;
        left: 28px;
    }

    .chickImg {
        margin-top: 22px;
        position: relative;
        left: 22%;
    }

    .onionImg {
        margin-top: 22px;
        position: relative;
        left: 33%;
    }

    .jcbImages {
        margin-top: 22px;
        position: relative;
        left: 25%;
    }

    .steakpoboyImg {
        margin-top: 22px;
        position: relative;
        left: 24%;
    }

    .menuCard {
        height: 460px;
    }

    .burgerCard {
        height: 560px;
    }

    .phillyCard {
        height: 585px;
    }

    .bbqCard {
        height: 645px;
    }

    .chickCard {
        height: 545px;
    }

    .bigChickCard {
        height: 680px;
    }


    .bigSteakCard {
        height: 580px;
    }

    .fishCard {
        height: 615px;
    }

    .sideCard {
        height: 525px;
    }

    .card-1 {
        height: 448px !important;
    }

    .img {
        position: relative;
        left: 38px;
    }

    .titles {
        font-size: 38px;
    }
}