{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Beer/Tobacco</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's Country Store</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'user-home' %}">Home</a></li>
                <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'user-home' %}">Home</a></li>
    <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
</ul>
<div class="col s12 m8 l12">
    <img id="headerImg" class="responsive-img" src="/static/images/beer-shelve.jpg" alt="Dunn's Country Store" />
</div>
<div class="container">
    <div class="row spacer-middle">
        <div class="col s12 l6">
            <div class="card fluid">
                <div class="card-content">
                    <span class="card-title center-align">Beer</span>
                    <hr>
                    <p class="center-align">
                        Dunn's now has beer <b>*</b>! Try popular brands like Bud Light, Budweiser, and Miller! Feeling
                        fun?
                        Check out our selection of Smirnoff drinks, Bud Ritos and, Jack Daniel's mixtures! Now have cold
                        beer! Need a
                        cooler? Pick up a Ole Miss or Mississippi State cooler to show off your team spirit. <b>*MUST
                            BE
                            21
                            OR OLDER TO PURCHASE ALCOHOLIC BEVERAGES, DRINK RESPONSIBLY!!</b>
                    </p>
                    <div class="container">
                        <div class="imgs">
                            <img class="col s12 l10 m8" src="/static/images/beer2.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="card fluid">
                <div class="card-content">
                    <span class="card-title center-align">Tobacco</span>
                    <hr>
                    <p class="center-align">
                        Make Dunn's your one stop for all your needs. Ask a cashier about our cigarettes and
                        cigarillos*, including but not limited to Seneca, Malboro, Pall Mall, Black and Mild, and
                        ZigZags. Prefer snuff or chewing tabocco? We got you covered! Grizzly, Red Seal,
                        Copenhagen, Reb Man, and Levi Garrett are all kept behind the counter. <b>*MUST BE 18 YEARS
                            OR
                            OLDER TO PURCHASE TOBACCO RELATED PRODUCTS. SMOKE AND CHEW AT YOUR OWN RISK.</b>
                    </p>
                    <div class="container">
                        <div class="imgs">
                            <img class="col s12 l10 m8" src="/static/images/marlboro-logo.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}