{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Logged out</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's Country Store</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Log In</a></li>
                <li><a href="{% url 'user-home'%}">Home</a></li>

            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="#">Log In</a></li>
    <li><a href="{% url 'user-home'%}">Home</a></li>
</ul>
<div class="container">
    <div class="card">
        <div class="card-content">
            <p class="flow-text">You have been logged out </p>
            <div>
                <a class="center-align" href="{% url 'login'%}">Log in again</a></p>
            </div>
        </div>

    </div>

</div>
{% endblock body %}