{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Menu</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's Country Store</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
                <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
    <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
</ul>
<div class="col s12 m8 l12">
    <img id="headerImg" class="responsive-img" src="/static/images/menu.jpg" alt="Dunn's Country Store">
</div>
<p class="big-1 center-align">Breakfast</p>
<div class="container">
    <hr>
    <div class="container">
        <p class="center-align omeletTitle">Omelets</p>
    </div>
    <div class="row spacer">
        {% for omelet in BREAKFAST.omelets%}
        <div class="col l4 s12">
            <div class="card menuCard">
                <div class="card-content">
                    <div class="spacer">
                        <p class="flow-text center-align">{{omelet.name}}</p>
                    </div>
                    <p class="center-align">{{omelet.description}}</p>
                    <div class="spacer">
                        <p class="center-align " style="margin-bottom: 24px;"><b>Price:</b> $
                            {{omelet.price}}</p>
                    </div>
                    <hr>
                    <div class="omeletImgs">
                        <img class="col s12 l10 m8" src="{{omelet.img}}" />
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container">
        <p class="center-align plateTitle">Breakfast Plates</p>
    </div>
    <div class="row spacer">
        {% for plate in BREAKFAST.plates %}
        <div class="col l4 s12">
            <div class="card menuCard">
                <div class="card-content">
                    <div class="spacer">
                        <p class="flow-text center-align">{{plate.name}}</p>
                    </div>
                    <p class="center-align">{{plate.description}}</p>
                    <div class="spacer">
                        <p class="center-align " style="margin-bottom: 24px;"><b>Price:</b> $
                            {{plate.price}}</p>
                    </div>
                    <hr>
                    <div class="breakfastImgs">
                        <img class="col s12 l10 m8" src="{{plate.img}}" />
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container">
        <p class="center-align biscuitTitle">Breakfast Biscuits</p>
    </div>

    <div class="row spacer">
        {% for biscuit in BREAKFAST.biscuits %}
        <div class="col l4 s12">
            <div class="card menuCard">
                <div class="card-content">
                    <div class="spacer">
                        <p class="flow-text center-align">{{biscuit.name}}</p>
                    </div>
                    <p class="center-align">{{biscuit.description}}</p>
                    <div class="spacer">
                        <p class="center-align " style="margin-bottom: 24px;"><b>Price:</b> $
                            {{biscuit.price}}</p>
                    </div>
                    <hr>
                    <div class="breakfastImgs">
                        <img class="col s12 l10 m8" src="{{biscuit.img}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}