{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Menu</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's Country Store</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
                <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
    <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
</ul>
<div class="col s12 m8 l12">
    <img id="headerImg" class="responsive-img" src="/static/images/menu.jpg" alt="Dunn's Country Store">
</div>
<p class="big-1 center-align">Breakfast</p>
<div class="container">
    <hr>

    <div class="row spacer">
        <div class="col l4 s12">
            <div class="card menuCard">
                <div class="card-content">
                    <span class="card-title center-align">Omelets</span>
                    <hr>
                    <div id="omeletsTemplate"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="omelets" type="text/x-handlebars-template">
    console.log("I am here")
    <div class="spacer">
            <p class="flow-text center-align">{{food.name}}</p>
    </div>
        <p class="center-align">{{food.description}}</p>
        <div class="spacer">
            <p class="center-align "><b>Price:</b>$ {{food.price}}</p>
        </div>
</script>
{% endblock body %}