{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | {{ user.username }}'s profile</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">{{ user.username }}'s profile</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_staff %}
                <li><a href="{% url 'reserved' %}">Reservations</a></li>
                {% else %}
                <!-- d-none is a class that has display:none -->
                <li><a class="d-none" href="{% url 'home' %}">Reservations</a></li>
                {% endif %}
                <li><a href="{% url 'home' %}">Back</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    {% if user.is_staff %}
    <li><a href="{% url 'reserved' %}">Reservations</a></li>
    {% else %}
    <!-- d-none is a class that has display:none -->
    <li><a class="d-none" href="{% url 'reserved' %}">Reservations</a></li>
    {% endif %}
    <li><a href="{% url 'home' %}">Back</a></li>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'logout' %}">Log out</a></li>

</ul>
<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="row">
                {% if messages %}
                {% for message in messages %}
                <div class="center-align blue darken-3 br p-2">
                    <span class="white-text flow-text">{{ message }}</span>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col l6 s12">
                    <u><span class="card-title center-align">Username </span></u>
                    <p class="center-align">{{ user.username }}</p>
                </div>
                <div class="col l6 s12">
                    {% if user.email|length == 0 %}
                    <u><span class="card-title center-align">Email</span></u>
                    <p class="red-text darken-3 center-align">No email on file</p>
                    {% else %}
                    <u><span class="card-title center-align">Email</span></u>
                    <p class="center-align">{{ user.email }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="center-align">
                    <form action="{% url 'home' %}">
                        <button class="btn waves-effect green darken-3" style="margin-bottom: 14px">Back</button>
                    </form>
                    <form action="{% url 'reserved' %}">
                        {% if profile|length == 0 %}
                        <p class="flow-text center-align red-text darken-3">No new reserved tables</p>
                        {% else %}
                        {% if user.is_staff %}
                        <button class="btn waves-effect blue darken-3">Reserved Tables</button>
                        {% else %}
                        <button class="d-none">None</button>
                        {% endif %}
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}