{% extends 'base.html' %} {% block body %}
{% load crispy_forms_tags %}
<title>Dunn's Country Store | Registration</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's | Registrating</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Sign In</a></li>
                <li><a href="{% url 'user-home'%}">Home</a></li>

            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="#">Sign In</a></li>
    <li><a href="{% url 'user-home'%}">Home</a></li>
</ul>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Register</span>
                <hr>
                <div class="spacer">
                    <p class="center-align">To access admin data, you must use your work identification username</p>
                    {{ form|crispy }}
                    {{ form.password.errors }}
                </div>
                <div class="spacer d-flex">
                    <button class="btn waves-effect green darken-3 mr-3" type="submit">Sign Up</button>

    </form>
    <form action="{% url 'user-home' %}">
        <button type="submit" class="btn waves-effect blue darken-3 ">Back</button>
    </form>
</div>

<div>
    <p class="center-align">Already have an account? <a href="{% url 'login'%}">Sign In</a></p>
</div>
</div>
</div>
</div>
{% endblock body %}