{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Reserved Tables</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's Country Store</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'admin-home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
                <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'admin-home' %}">Home</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
    <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
</ul>
<div class="col s12 m8 l12">
    <img id="headerImg" class="responsive-img" src="/static/images/store.jpg" alt="Dunn's Country Store">
</div>
{% for table in reserved %}
<div class="container">
    <div class="card">
        <div class="card-content">
            <a class="card-title" href="{% url 'reserved-table' table.id%}">{{ table.f_name }} {{ table.l_name }}</a>
            <p>Table for: {{ table.num_of_people }}</p>
            <hr />
        </div>
    </div>
</div>
{% endfor %} {% endblock body %}