{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Reserved Tables</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's Country Store</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'profile' %}">Back</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'profile' %}">Back</a></li>
</ul>
<div class="col s12 m8 l12">
    <img id="headerImg" class="responsive-img" src="/static/images/store.jpg" alt="Dunn's Country Store">
</div>
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="center-align blue darken-4 br p-2" style="margin-top: 16px;">
        <span class="white-text" style="font-size: 16pt">{{ message }}</span>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col l12 s12">
            {% if reserved|length == 0 %}
            <p class="flow-text center-align red-text darken-3">No new reserved tables</p>
            {% else %}
        </div>
    </div>
</div>
{% endif %}

{% for table in reserved %}
<div class="container">

    <div class="card">
        <div class="card-content">

            <div>

                <a class="card-title" href="{% url 'reserved-table' table.id%}">{{ table.f_name }}
                    {{ table.l_name }}</a>
                <p>Table for: {{ table.num_of_people }}</p>
                <hr />

            </div>
        </div>
    </div>
</div>
{% endfor %} {% endblock body %}