{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Reservation</title>
<div class="navbar-fixed">
  <nav class="z-depth-3">
    <div class="nav-wrapper blue darken-4">
      <span class="space-header">Dunn's Country Store</span>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
        <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-nav">
  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'menu' %}">Menu</a></li>
  <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
  <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
</ul>

<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title center-align">Table Reservation</span>
      <p class="center-align">Table availability subject to change</p>
      <hr />
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col l6 s12">
            <input id="first_name" type="text" name="f_name" class="validate" />
            {{ reservation_form.f_name.errors }}
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col l6 s12">
            <input id="last_name" type="text" name="l_name" class="validate" />
            {{ reservation_form.l_name.errors }}
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l6 s12">
            <input id="p_number" type="text" name="p_number" class="validate" />
            {{ reservation_form.p_number.errors }}
            <label for="p_number">Phone Number</label>
          </div>
          <div class="input-field col l6 s12">
            <input id="num_of_people" type="text" name="num_of_people" class="validate" />
            {{ reservation_form.num_of_people.errors }}
            <label for="num_of_people">Number of seats needed</label>
          </div>
        </div>
        <div class="row">
          <div class="date-field col l6 s12">
            <input id="date" type="date" name="date" class="validate" />
            {{ reservation_form.date.errors }}
            <label for="date">Date</label>
          </div>
          <div class="date-field col l6 s12">
            <input id="time" type="text" name="time" class="validate" />
            {{ reservation_form.time.errors }}
            <label for="time">Time</label>
          </div>
        </div>
        <div class="d-flex">
          <button class="btn waves-effect waves-light blue darken-4 mr-3" type="submit">Submit</button>
      </form>
      <form action="{% url 'home' %}">
        <button class="btn waves-effect waves-light green darken2">Back</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock body %}