{% extends 'base.html' %} {% block body %}
<!-- <title>Dunn's Country Store | Reserved Tables</title> -->
<div class="navbar-fixed">
        <nav class="z-depth-3">
            <div class="nav-wrapper blue darken-4">
                <span class="space-header">Dunn's Country Store</span>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'menu' %}">Menu</a></li>
                    <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
                    <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
                </ul>
            </div>
        </nav>
    </div>
    
    <ul class="sidenav" id="mobile-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
        <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
    </ul>
{% endblock body %}
