{% extends 'base.html' %} {% block body %}
<title>Dunn's Country Store | Reserved Tables</title>
<div class="navbar-fixed">
    <nav class="z-depth-3">
        <div class="nav-wrapper blue darken-4">
            <span class="space-header">Dunn's Country Store</span>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
                <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'beer-tobacco' %}">Beer/Tobacco</a></li>
    <li><a href="{% url 'hunting-fishing' %}">Hunting/Fishing</a></li>
</ul>
{% for table in reserved %}
<div class="container">

    <div class="card">
        <div class="card-content">
            <form action="{% url 'home' %}">
                <button class="btn waves-effect blue darken-3 second">Go Home</button>
            </form>
            <span class="card-title">Current Reserved tables</span>
            <hr>
            <a href="{% url 'reserved-table' table.id%}">{{ table.f_name}} {{ table.l_name }}</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock body %}